@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Montserrat", sans-serif;
}

body{
    top: 0;
    left: 0;
    background: linear-gradient(120deg, #000000,#0b6d8b);
    display: flex;
    flex-direction: column;
    text-align: center;
}

#title{
    top: 0;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #ffffff39;
    padding: 20px;
    text-align: center;
    height: 50px;
    
}



#allcards{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    gap: 40px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}



.card{
    display: flex;
    justify-content: center;
    height: 170px;
    width: 170px;
    position: relative;
    background-color: hsla(0, 0%, 100%, 0.016);
    border-radius: 20px;
    box-shadow: 0px 35px 80px rgba(0,0,0,0.15);
    transition: 0.5s;
    margin-top: 0px;
    margin-left: 30px;
    margin-right: 30px;
}

.card:hover{
    height: 200px;
}

.card .img-box{
    margin-top: 15px;
    position: absolute;
    width: 100px;
    top: 0;    
    transition: 0.5s;
    
}

.card:hover .img-box{
    top: -63px;
    scale: 0.70;
}

.card .img-box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card .content{
    top: 70px;
    position: absolute;
    color: #fff;
    width: 100%;
    padding: 0px 15px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.card:hover .content{
    height: 120px;
    top: 70px;
    opacity: 1;
    visibility: visible;
}

.card .read-more{
    position: absolute;
    color: #fff;
    display: block;
    margin-top: 136px;
    text-decoration: none;
    bottom: 0px;
    
}

.card .read-more:hover{
    color:#e59ed1;

}


@media screen and (max-width: 1170px){
    #allcards {
        flex-wrap: wrap;
        justify-content: center;
    }

    .card{
        width: calc(50%-20px);
    }
}

@media screen and (max-width: 650px) {
    .card {
        width: 50%;
    }

    #title h1 {
        font-size: 18px;
    }

    body{
        background: linear-gradient(90deg, #000000,#0b6d8b);
    }
}